body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #02203e, #17141d);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadrado-1{
    background: white;
    width:20%;
    height: 10%;
    margin-left: 20%;
    margin-top: 20%;
    border-radius: 30%;
    
}