<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Pau Masià Valls</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/bubble.css">
</head>

<body>

    <!-- <div class="cuadrado-1"></div>
    <div class="cuadrado-2"></div>
 -->
    <div class="bubble-container">
        <div class="bubble bubble-1"></div>
        <div class="bubble bubble-2"></div>
        <div class="bubble bubble-3"></div>
        <div class="bubble bubble-4"></div>
        <div class="bubble bubble-5"></div>
        <div class="bubble bubble-6"></div>
        <div class="bubble bubble-7"></div>
        <div class="bubble bubble-8"></div>
    </div>
   

</body>
</html>
