<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/button.css">

  </style>
</head>
<body>
  

  <video autoplay muted loop>
    <source src="../css/l.mp4" type="video/mp4">
  </video>
    <script>
        document.querySelector('video').playbackRate = 0.45;
    </script>
  <div class="blur-layer">
      <button></button>
  </div>

</body>
</html>
